@model Core.FrontEnd.Models.FeUserAccountCheckCode

@{
    ViewBag.Title = "Active user account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Active user account</h2>
@if (Model.Success)
{
    <h1>Success</h1>
    <br/>
    <a href="/User/Login"> Click here to login</a>
}
else
{
    <h1>Fail</h1>
    <div>@Model.ErrorMessage</div>
}