@model dynamic

@{
    ViewBag.Title = "Forgot password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot password?</h2>
<div>We will send random password to your email. Please enter your username</div>
<input id="username" placeholder="username"/><button onclick="requestResetPassword()">Submit</button>
<h3 id="msg" style="display: none">Request to reset password success. Please check your email.</h3>

@section scripts
{
    <script>
        function requestResetPassword() {
            var cfr = confirm('Do you want to RESET password?');
            if (!cfr) return;

            $('#msg').hide();
            Util.showWaiting();
            $.post('/User/RequestToResetPassword', { username: $('#username').val()})
                .done(function (data) {
                    if (data.Ok) {
                        $('#msg').show();
                        Util.hideWaiting();
                    } else {
                        alert(data.Message);
                        Util.hideWaiting();
                    }
                }).fail(function () {
                    alert("Can not make request, check your internet and try to reload page");
                    Util.hideWaiting();
                });
        }
    </script>
}
