################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DomainDrivenDesign.Core/bin/Debug
/DomainDrivenDesign.Core/obj/Debug
/DomainDrivenDesign.Domain/bin/Debug
/DomainDrivenDesign.Domain/obj/Debug
/DomainDrivenDesign.TestDomain/bin/Debug
/DomainDrivenDesign.TestDomain/obj/Debug
/packages
/.vs/DomainDrivenDesign.Core/v15
/DomainDrivenDesign.DomainShoppingCart/bin/Debug
/DomainDrivenDesign.DomainShoppingCart/obj/Debug
/DomainDrivenDesign.CoreCms/bin/Debug
/Fidga.FrontEnd/bin
/Fidga.FrontEnd/obj/Debug
/DomainDrivenDesign.QueryFacade/bin/Debug
/DomainDrivenDesign.QueryFacade/obj/Debug
/DomainDrivenDesign.CorePermission/bin/Debug
/DomainDrivenDesign.CorePermission/obj/Debug
/Fidga.FrontEnd/uploaded
/Core.FrontEnd/bin
/Core.FrontEnd/obj
/Core.FrontEnd/uploaded
/DomainDrivenDesign.Core/bin/Release
/DomainDrivenDesign.CoreCms/bin/Release
/DomainDrivenDesign.CoreEcommerce/bin/Release
/DomainDrivenDesign.CorePermission/bin/Release
/DomainDrivenDesign.Core/obj/Release
/DomainDrivenDesign.CoreCms/obj/Release
/DomainDrivenDesign.CorePermission/obj/Release
/DomainDrivenDesign.CoreEcommerce/obj/Release
/DomainDrivenDesign.TestDomain/obj/Release
/DomainDrivenDesign.TestDomain/bin/Release
/DomainDrivenDesign.CoreUserMessage/bin/Release
/DomainDrivenDesign.CoreUserMessage/obj/Release
/Core.FrontEnd/App_Data/Logs
/DomainDrivenDesign.CoreEcommerce/bin/Debug
/DomainDrivenDesign.CoreUserMessage/bin/Debug
/DomainDrivenDesign.CoreUserMessage/obj
/DomainDrivenDesign.CoreUserMessage/bin
/DomainDrivenDesign.CoreCms/obj
/DomainDrivenDesign.CoreEcommerce/bin
/DomainDrivenDesign.CoreEcommerce/obj
