@model Core.FrontEnd.Areas.Admin.Models.NewsListAdminPage

@{
    ViewBag.Title = "List news";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>List news in category: @Model.CategoryTitle</h2>
<div>
    <a href="/Admin/AdminNews/Edit/?id=@(Guid.Empty)&categoryId=@Model.CategoryId">Create new</a>
</div>
<div class="form-group">
    <div class="input-group input-group-sm">
        <input id="txtSearch" value=""  class="form-control" placeholder="type keywords to search"/>

        <span class="input-group-btn">
            <button class="btn green" type="button" onclick="NewsList.refresh()">Search</button>
        </span>
    </div>
    
</div>
<table id="tblView"></table>

@section scripts
{
    <script>
        NewsList = {
            _$tblView: null,
            _guidEmpty: '@Guid.Empty.ToString()',
            _$txtSearch: null,
            _categoryId: null,
            init: function($tblView, $txtSearch, categoryId) {
                NewsList._categoryId = categoryId;
                NewsList._$tblView = $tblView;
                NewsList._$txtSearch = $txtSearch;

                NewsList.initTable();
            },
            delete: function(id) {
                bootbox.confirm('Do you want to DELETE?', function(result) {
                    if (!result) return;

                    $.post('/Admin/AdminNews/Delete',
                            {
                                id: id
                            })
                        .done(function(data) {
                            if (data.Ok) {
                                toastr.success(data.Message);
                                NewsList._$tblView.bootstrapTable('refresh');
                            } else {
                                toastr.error(data.Message);
                            }
                        }).fail(function() {
                            bootbox.alert({
                                message: "Can not make request, check your internet and try to reload page",
                                backdrop: true
                            });
                        });
                });

            },
            publish: function(id,isPublish) {
                var msgTitle = 'Do you want to PUBLISH?';
                if (isPublish != true) {
                    msgTitle = 'Do you want to UNPUBLISH?';
                }
                bootbox.confirm(msgTitle,
                    function(result) {
                        if (!result) return;

                        $.post('/Admin/AdminNews/Publish',
                                {
                                    id: id,
                                    isPublish: isPublish
                                })
                            .done(function(data) {
                                if (data.Ok) {
                                    toastr.success(data.Message);
                                    NewsList._$tblView.bootstrapTable('refresh');
                                } else {
                                    toastr.error(data.Message);
                                }
                            }).fail(function() {
                                bootbox.alert({
                                    message: "Can not make request, check your internet and try to reload page",
                                    backdrop: true
                                });
                            });
                    });

            }
            ,
            initTable: function() {
                NewsList._$tblView.bootstrapTable({
                    idField: 'Id',
                    //data: AdminUser.arrayCheckedIds,
                    method: 'post',
                    url: '/Admin/AdminNews/List?__=' + (new Date().getTime()),
                    sidePagination: 'server',
                    pagination: true,
                    showToggle: false,
                    minimumCountColumns: 1,
                    pageSize: 10,
                    pageList: [10, 20, 50, 100, 200],
                    showColumns: false,
                    showRefresh: false,
                    sortName: 'CreatedDate',
                    sortOrder: 'desc',
                    queryParams: function(p) {
                        var keywords = '';
                        if (NewsList._$txtSearch) {
                            keywords = NewsList._$txtSearch.val();
                        }
                        return {
                            categoryId: '@Model.CategoryId',
                            sortField: p.sort,
                            orderBy: p.order,
                            take: p.limit,
                            skip: p.offset,
                            keywords: keywords
                        };
                    },
                    columns: [
                        {
                            field: 'UrlImage',
                            title: '',
                            align: 'left',
                            valign: 'middle',
                            formatter: function (value, row) {
                                if (row.UrlImage == null) {
                                    row.UrlImage = "/Content/imgs/no-image.png";
                                }
                                return '<a target="_blank" href="/news/' + row.SeoUrlFriendly+'">' +
                                    '<img class="item-img" src="' + row.UrlImage + '" alt="' + row.ProductCode+'" /></a>';

                            },
                            width:90
                        },
                        {
                            field: 'Title',
                            title: 'Title',
                            align: 'left',
                            valign: 'middle',
                            formatter: function(value, row) {
                                var temp = value;
                                if (row.Published) {
                                    temp += '<br>- Publised';
                                } else {
                                    temp += '<br>- Unpublised';
                                }
                                if (row.AllowComment) {
                                    temp += '<br>- AllowComment';
                                } else {
                                    temp += '<br>- No-AllowComment';
                                }
                                return temp;
                            }
                        }, {
                            field: 'Id',
                            title: '',
                            align: 'left',
                            valign: 'middle',
                            formatter: function(value, row) {
                                var temp = '<a href="/Admin/AdminNews/Edit/?id=' +
                                    row.Id +
                                    '&categoryId=@Model.CategoryId">Edit</a>';
                                temp += ' | <a href="javascript:" onclick="NewsList.delete(\'' + row.Id + '\')">Delete</a>';
                                if (row.Published) {
                                    temp += ' | <a href="javascript:" onclick="NewsList.publish(\'' + row.Id + '\',false)">Unpublish</a>';
                                } else {
                                    temp += ' | <a href="javascript:" onclick="NewsList.publish(\'' + row.Id + '\',true)">Publish</a>';
                                }
                                return temp;
                            }
                        }
                    ]
                });

            }
            ,
            refresh: function () {
                NewsList._$tblView.bootstrapTable('refresh');
            }
        }

        NewsList.init($('#tblView'), $('#txtSearch'), '@Model.CategoryId');
    </script>
}
