@using Core.FrontEnd.Models
@model Core.FrontEnd.Models.FeCategory
@{
    var news = Model.News.FirstOrDefault() ?? new FeCategory.NewsItem();

    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MetaSEO
{
    <meta content="@Model.SeoDescription" name="description" />
    <meta content="@Model.SeoKeywords" name="keywords" />
}
<h2>@Model.Title</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Send us a Message</h3>
        <div name="sentMessage" id="contactForm" novalidate="">
            <div class="control-group form-group">
                <div class="controls">
                    <label>Full Name:</label>
                    <input type="text" class="form-control" id="name" required="" data-validation-required-message="Please enter your name.">
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Phone Number:</label>
                    <input type="tel" class="form-control" id="phone" required="" data-validation-required-message="Please enter your phone number.">
                    <div class="help-block"></div></div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Email Address:</label>
                    <input type="email" class="form-control" id="email" required="" data-validation-required-message="Please enter your email address.">
                    <div class="help-block"></div></div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Message:</label>
                    <textarea rows="10" cols="100" class="form-control" id="message" required="" data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                    <div class="help-block"></div></div>
            </div>
            <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="button" onclick="ContactUs.sendMessage()"
                    class="btn btn-primary" id="sendMessageButton">Send Message</button>
        </div>
    </div>
    <div class="col-md-6">
        @Html.Raw(news.Description)
    </div>
</div>

@section scripts
{
    <script>
        var ContactUs = {
            sendMessage: function() {

                $.post('/User/SendContactUsInfo',
                        {
                            fromName: $('#name').val(),
                            fromEmail: $('#email').val(),
                            fromPhone: $('#phone').val(),
                            title: $('#title').val(),
                            body: $('#message').val()
                        })
                    .done(function(data) {
                        if (data.Ok) {
                            $('#success').html(data.Message);
                            $('#name').val('');
                            $('#email').val('');
                            $('#phone').val('');
                            $('#title').val('');
                            $('#message').val('');
                        } else {
                            toastr.error(data.Message);
                        }
                    }).fail(function() {
                        $('#success').html("Can not make request, check your internet and try to reload page");

                    });

            }
        }

    </script>
}
