@using DomainDrivenDesign.CorePermission
@if (UserSessionContext.CurrentUser() == null)
{
    <span></span>
}
else
{
    <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-login"></i>
    </a>
    <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
        <div class="page-quick-sidebar">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab">
                        File(s)
                    </a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                    <iframe src="/assets/Roxy_Fileman/index.html" width="100%" height="100%" style="min-height: 600px; width: 100%; height: 100%; border: solid 1px #000"></iframe>

                </div>
            </div>
        </div>
    </div>
}
